body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 80%;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 100%;
	padding: 0px;
    	list-style: none;
	border-top: 2px solid #d5d5d5;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 240%;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 265%;
}
h3 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 150%;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 165%;
}
p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 100%;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 110%;
	color: #333;
}
blockquote {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 180%;
	font-style: italic;
	font-variant: small-caps;
	font-weight: 400;
	line-height: 190%;
}
pre {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 110%;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 125%;
}

footer {
	border-top: 2px solid #d5d5d5;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 80%;
}

ul.posts { 
	margin: 20px auto 40px; 
	font-family: Verdana, Geneva, sans-serif;
	font-size: 150%;
}

ul.posts li {
    list-style: none;
}
