body { margin: 60px auto; width: 70%; }

a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

h1, h2, h3, h4 { font-family: Verdana, Geneva, sans-serif; }

h1 { font-size: 260%; font-style: normal; font-variant: normal; font-weight: 700; line-height: 308%; }
h2 { font-size: 220%; font-style: normal; font-variant: normal; font-weight: 700; line-height: 260%; }
h3 { font-size: 200%; font-style: normal; font-variant: normal; font-weight: 700; line-height: 236%; }
h4 { font-size: 160%; font-style: normal; font-variant: normal; font-weight: 700; line-height: 174%; }

p, pre, footer, blockquote { font-family: Verdana, Geneva, sans-serif; }

p, ul { font-size: 120%; font-weight: 400; line-height: 150%; color: #4d8080; }
pre { font-size: 120%; font-weight: 400; line-height: 135%; }

nav ul, footer ul { font-size: 88%; font-family: Verdana, Geneva, sans-serif; padding: 0px; list-style: none; line-height: 100%; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

blockquote { font-size: 160%;	font-style: italic; font-variant: small-caps; font-weight: 400;	line-height: 180%; color: #2F4F4F; }

footer { border-top: 1px solid #d5d5d5; font-size: 85%; }

/* Blog */
ul.posts { margin: 20px auto 40px; font-family: Verdana, Geneva, sans-serif; font-size: 150%; }
ul.posts li { list-style: none; }

/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 2em; }
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv p { font-size: 1.2em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }
